.noteContainer {
  margin-top: 5px;
}

.noteContainer textarea{
  width: 100%;
}

.cellButtons {
  display: flex;
  justify-content: end;
}

.cellButtons button {
  border: none;
  border-bottom: 1px solid black;
}

.cellButtons button:hover {
  background-color: gray;
}


.cellButtons button:focus {
  border-bottom: 2px solid white;
  background-color: gray; 
}

.codeContianer {
  border: 2px solid black;
  margin-top: 5px;
}